*
{
margin:  0;
padding: 0;
}
body
{
background:url(bg.jpg);
background-repeat: no-repeat;
background-size: cover;
}
header
{
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
url(picture.jpg);
height: 30vh;
background-size: cover;
background-position: center;
}

.main-nav
{


position: fixed;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
width: 100%
height:70px;
z-index: 1;



}
.main-nav ul li
{

float: left;
width: 150px;
height: 50px;
background-color: white;
opacity: .5;
line-height: 40px;
text-align: center;
font-size: 15px;
}

.main-nav ul li
{
text-decoration: none;
color: black;
display: block;
}
.main_nav li
{
display: inline-block;
}

.main-nav li a
{
color: green;
text-decoration: none;
padding: 5px 20px;
font-family: "Roboto",  sans-serif;
font-size: 15px;

}

.main-nav li.active a
{
border: 1px solid white;
float: left;
text-decoration: none;
}

.logo img
{
width: 150px;
height: auto;
float: left;
}

body
{
font-family: monospace;

}

.row
{
max-width: 1200px;
margin: auto;

}

.hero
{
position: absolute;
width: 1200px;
margin-left: 0;
margin-top: 0;
}
.hero h1

{
position: absolute;
top:250px;
left: 27.5%;
margin: 0;
padding: 0;
font-size: 5.5em;
} 
h1

{
color: black;
text-transform: uppercase;
font-size: 70px;
text-align: center;
margin-top: 275px;
}

.button
{
position: absolute;
top: 140px;
left: 30%;
margin-top: 250px;
margin-left: 250px;
}

.btn
{
border: 1px solid white;
padding: 10px 30px;
color: black;
text-decoration: none;
margin-right: 5px;
font-size: 20px;
text-transform: uppercase;
}

.btn-one
{
font-family: "Roboto", sans-serif;
}

.btn-one:hover
{
background-color: darkorange;
transition: all 0.5s ease-in;
}
.btn-two
{
font-family: "Roboto", sans-serif;
}

.btn-two:hover
{
background-color: darkorange;
transition: all 0.5s ease-in;
}

.education {
	right: 20%;
	top: 50%;
	font-family: century gothic;
	padding: 50px;
	color:  black;
}

.education p{
	font-size: 25px;
	line-height: 40px;
}

.hobbies {
	right: 20%;
	top: 50%;
	font-family: century gothic;
	padding: 50px;
	color:  black;
}

.hobbies p{
	font-size: 25px;
	line-height: 40px;
}

.contact {
	right: 20%;
	top: 50%;
	font-family: century gothic;
	padding: 50px;
	color:  black;
}

.contact p{
	font-size: 25px;
	line-height: 40px;
}
.about {
	right: 20%;
	top: 50%;
	font-family: century gothic;
	padding: 50px;
	color:  black;
}

.about p{
	font-size: 25px;
	line-height: 40px;
